/* IMPORT FONTS
---------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

/* CSS RESET
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }

/* BASIC STYLES
---------------------------------------------*/
body {
  background: #000;
  color: #777;
  font: 300 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 50px 0;
  }

iframe {
  border: 0;
  height: 444px;
  width: 1028px;
  }

.wrapper {
  margin: 0 auto;
  width: 1028px;
  }

/* MEDIA QUERIES
---------------------------------------------*/
@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
}

@media print {
  body {
    background: #fff;
    color: #3f3f3f;
    font-size: 12pt;
    padding: 0.4in;
  }
}
